@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 2rem; 
}

.user-description {
    font-size: 1.5rem;
}

.book-author  {
    font-size: 1.2rem;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 110vh;
    background-image: linear-gradient(to left bottom, #836d83, #9288a3, #9fa4c2, #abc1df, #b8dff8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    height: 23rem;
    width: 23rem;
    position: absolute;
    border-radius: 50%; 
}

.circle1 {
    top: 0%;
    right: 10%;
}

.circle2 {
    bottom: -10%;
    left: 10%;
}

.avatar {
    width: 100px;
    height: 100px;
    background-image: url('images/avatar.jpeg');
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
}

.links-logo {
    width: 50px;
}

.library {
     flex: 2;
}

.library-logo {
    width: 20%
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 2rem;
}

.pro {
    color: white;
    position: relative;
    padding: 1rem;
    border-radius: 2rem;
    margin: 0rem 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
}

.pro img {
    position: absolute;
    top: 23%;
    right: 10%;
    width: 20%;
}

.pro h2 {
    width: 50%;
    color: white;
    font-weight: 600;
}

/* GAME SECTION */

.status input {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.library {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 4rem;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    justify-content: space-between;
}

.progress {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    width: 100%;
    height: 30px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #836d83, #8d81a0, #9197bd, #90afd8, #8bc8ee);
    position: absolute;
    left: 60%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.percentage {
    font-weight: 600;
    background-image: linear-gradient(to right, #836d83, #8d81a0, #9197bd, #90afd8, #8bc8ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

